/*VARIABLES*/
$color-one: #F9D158;
$color-two-text: #ffffff;
$color-three-text: #222222;

$font-header: 'Inconsolata', monospace;
$font-text: 'Signika', sans-serif;

$font-logo: 'Dancing Script', cursive;
$font-header-desc: 'Gelasio', serif;
$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;

/*GLOBAL*/
*, *::before, *::after {
    box-sizing: border-box;
}
.body {
    margin: 0;
    font-size: 16px;
    font-family: $font-header;
    line-height: 1.7;
}
.container {
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;

}

/*NAVIGATION*/
.brand {
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    color: #fed136;
    letter-spacing: 1.3px;
    margin: 0;
}
.menu {

    display: flex;
}
ul {
    list-style-type: none;
    margin: 1rem 0;
    flex-direction: row;
    
}
li {
    border: 1px solid orchid;
    margin: 0 20px;
    
}
li a {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

