/*VARIABLES*/
$color-one: #fed136;
$color-two: #f0e6e6;
$color-three-text: #ffffff;
$color-four-text: #222222;
$colo-five-text-desc: #777777;

$font-logo: 'Dancing Script', cursive;
$font-header-desc: 'Gelasio', serif;
$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;

/*GLOBAL*/
*, *::before, *::after {
    box-sizing: border-box;
}
.body {
    margin: 0;
    font-size: 16px;
    font-family: $font-header;
    line-height: 1.7;
    
}
.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 230px;
}
.title {
    border: 1px dashed red;
    margin: auto 0 80px;
    display: flex;
    flex-direction: column;
}
.section-title {
    color: $color-four-text;
    font-family: $font-header;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: auto;
}
.section-subtitle {
    color: $colo-five-text-desc;
    font-family: $font-header-desc;
    font-size: 16px;
    margin: auto;
}
.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    background-color: $color-three-text;
    

    .box-title {
        margin: 29px auto 0;
        color: #333333;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        
    }
    .box-text {
        margin: auto;
        text-align: center;
        font-family: $font-header-desc;
        font-size: 14px;
        font-style: italic;
        color: #737373;
    }
}

/*NAVIGATION*/
.navigation {
    position: fixed;
    
    transform: translateX(35%);;
    padding: 50px 0;
    
    .logo {
        color: $color-one;
        font-family: $font-logo;
        font-size: 26px;
        font-weight: 400;
        line-height: 41px;
        color: $color-one;
        letter-spacing: 1.3px;
    }
    .navibar {
        ul {
            list-style-type: none;
            display: flex;
        }
        li {
            display: inline-block;
            margin-right: 40px;
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            font-family: $font-header;
            color: $color-three-text;
        }
    }
}


/*SPLASH*/
.splash {
    height: 100vh;
    background-image: url(https://i.ibb.co/Nx57vC0/Background-Image.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin-bottom: 120px;
    &::after {
        content:'';
        background-color: #000000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .splash-inner {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        h2 {
            font-family: $font-header-desc;
            font-size: 40px;
            font-style: italic;
            color: $color-three-text;
            letter-spacing: 1px;
        }
        h1 {
            font-family: $font-header;
            text-transform: uppercase;
            font-size: 75px;
            font-weight: 700;
            color: $color-two;
            margin-top: 52px;
            
        }
        .btn {
            background-color: $color-one;
            border: none;
            border-radius: 2px;
            color: $color-three-text;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin-top: 59px;
            &:hover {
                transition-duration: 0.2s;
                background-color: $color-four-text;
                color: $color-three-text;
            }
        }
    }
}





/*SERVICES*/
.services {
    margin-bottom: 120px;
}
.services-box-title {
        line-height: 75px;
    }
.services-box-text {
    color: $colo-five-text-desc;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
}
.fas {
    margin: auto;
    color: $color-one;
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid $color-one;
}


/*PORTFOLIO*/
.portfolio {
    background-color: #f7f7f7;
}



/*FOOTER*/
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    .icons {
        margin: 40px 404px 40px 0;
    }
    .copyrights {
        font-family: $font-header;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.35px;
    }
}
.footer {
    border: 1px dashed red;
    span {
        font-size: 0;
    }
    .fab {
        margin: 4.5px;
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: $color-four-text;
    }
}
