/*VARIABLES*/
$color-one: #fed136;
$color-two: #f7f7f7;
$color-three-text: #ffffff;
$color-four-text: #222222;

$font-logo: 'Dancing Script', cursive;
$font-header-desc: 'Gelasio', serif;
$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;

/*GLOBAL*/
*, *::before, *::after {
    box-sizing: border-box;
}
.body {
    border: 1px dashed olive;
    margin: 0;
    font-size: 16px;
    font-family: $font-header;
    line-height: 1.7;
}
.container {
    border: 2px solid blue;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}

/*NAVIGATION*/

/*SERVICES*/

/*PORTFOLIO*/

/*FOOTER*/
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    .icons {
        margin: 40px 604px 40px 0;
    }
    .copyrights {
        font-family: $font-header;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.35px;
    }
}
.footer {
    border: 1px dashed red;
    span {
        font-size: 0;
    }
    .fab {
        margin: 4.5px;
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: $color-four-text;
    }
}
